.btn {
	width: 40px;
	height: 40px;

	cursor: pointer;
	transition: background 0.3s ease-in-out;

	border: 3px solid transparent;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.primary {
	border: 3px solid var(--primary);
	background: var(--primary);
}

.primary svg {
	fill: var(--white);

	transition: fill 0.3s ease-in-out;
}

.white {
	background: var(--white);
}

.white svg {
	fill: var(--primary);

	transition: fill 0.3s ease-in-out;
}

@media (min-width: 1024px) {
	.primary:hover svg {
		fill: var(--primary);
	}

	.primary:hover {
		opacity: 1 !important;
		background: var(--white);
	}

	.white:hover svg {
		fill: var(--white);
	}

	.white:hover {
		opacity: 1 !important;
		background: var(--primary);
	}
}
