.textareaBlock {
	position: relative;

	width: 100%;
	height: 76px;
}

.textarea {
	width: 100%;
	height: 100%;
	padding: 7px 15px;

	resize: vertical;
	transition: border 0.3s ease-in-out;

	color: var(--black);
	border: 1px solid transparent;
	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-family: inherit;
	font-size: 16px;
	line-height: 22px;
}

.textarea:focus {
	outline-color: var(--primary);
}

.textarea::placeholder,
.textarea:placeholder-shown {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);
}
