.ratingBlock {
	position: relative;
}

.filled svg {
	fill: var(--primary);
}

.star svg {
	margin-right: 5px;

	transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.editable {
	cursor: pointer;

	outline-color: var(--primary);
	outline-offset: 1px;

	font-size: 0;
	line-height: 0;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);
}
