.firstLevel {
	display: grid;
	align-items: center;

	margin-bottom: 15px;

	transition: color 0.3s ease-in-out;

	outline-color: var(--primary);

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevel svg {
	transition: fill 0.3s ease-in-out;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	outline-color: var(--primary);
	outline-offset: -2px;

	font-size: 12px;
	font-weight: 300;
}

.secondLevelBlock {
	overflow: hidden;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;
	transition: color 0.3s ease-in-out;

	color: var(--gray-dark);
	outline-color: var(--primary);
	outline-offset: -2px;

	font-size: 14px;
	font-weight: 500;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--primary);
}
