.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	justify-items: left;

	align-items: center;

	font-size: 14px;
	line-height: 24px;
}

.descr,
.submit {
	grid-column: start / end;
}

.input {
	justify-self: left;
}

.info {
	margin-left: 13px;
}

.rating {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.panel {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
}

.success {
	color: var(--green);
	background: var(--green-light);
}

.error {
	color: var(--red);
	background: var(--red-light);
}

.panelTitle {
	font-weight: 700;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

.success .close path {
	stroke: var(--green-close);
	stroke-width: 3;
}

.error .close path {
	stroke: var(--red);
	stroke-width: 3;
}

@media (max-width: 1200px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}

	.input {
		justify-self: normal;

		width: 100%;
	}

	.info {
		display: block;

		margin-top: 10px;
		margin-left: 0;
	}
}

@media (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
